*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width:100%;
    --large-container-width:80%;
    --small-container-width:60%;
    --dark-blue:#1F2937;
    --off-white:#F9FAF8;
    --light-grey:#bfc3c8;
    --medium-grey:#6b757f;
    --bright-blue:#3882F6;
    --grey-blue:#c7d5ed;
    --section-vertical-padding:100px; 
    --typography-v-padding:15px;
    font-family: 'Roboto', sans-serif;
    color:var(--dark-blue);
}

/* Header Styles */

.header-container{
    display:flex;
    justify-content:center;
    background-color: var(--dark-blue);
    color:var(--off-white);
    padding:var(--typography-v-padding) 0;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:var(--large-container-width);
    gap: 50px;
}
.logo{
    display:flex;
    align-items: center;
}
.menu{
    display:flex;
    flex:2;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: var(--typography-v-padding);
    justify-content: flex-end;
    width: 100%;
    flex-wrap:wrap;
}
.menu ul li{
    display:inline-block;
}
.menu ul li a{
    text-decoration:none;
    color:var(--light-grey);
    font-size:18px;
}