*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width:100%;
    --large-container-width:80%;
    --small-container-width:60%;
    --topbar-height:70px;
    --dark-blue:#1F2937;
    --off-white:#F9FAF8;
    --light-grey:#bfc3c8;
    --medium-grey:#6b757f;
    --bright-blue:#3882F6;
    --grey-blue:#c7d5ed;
    --section-vertical-padding:100px; 
    --typography-v-padding:15px;
    font-family: 'Roboto', sans-serif;
    color:var(--dark-blue);
}

/* Header Styles */
.header-container{
    display:flex;
    justify-content:center;
    background-color: var(--dark-blue);
    color:var(--off-white);
    height:var(--topbar-height);

    .header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:var(--large-container-width);
        gap: 10px;

        .logo{
            display:flex;
            align-items:center;
        }

        .menu-open{
            display:flex;
            align-items:center;
            margin-top: -3px;
        }
        .large-menu{
            display:none;
        }
    }
}
#menu{
    position:absolute;
    width:100%;
    left:-100%;
    top:0px;
    display:flex;
    justify-content:center;
    

    &:target{
        left:0px;
    }
    .small-menu-container{
        display:flex;
        flex-direction: column;
        align-items:flex-end;
        width:var(--large-container-width);
        gap:1px;

        .menu-close{
            display:flex;
            align-items:center;
            width: max-content;
            height: var(--topbar-height);
            
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display:flex;
            flex-direction:column;
            width:100%;
        
            li{
                display:inline-block;
                background-color: var(--dark-blue);
                padding:6px 12px;
        
                a{
                    text-decoration:none;
                    color:var(--light-grey);
                    font-size:14px;
                }
            }
        }
    }
}





@media (min-width:768px) {
    .header-container{
        .header{
            flex-direction:row;
            gap: 50px;
            .menu-open{
                display:none;
            }

            .large-menu{
                display:flex;
                flex-direction: row;
                flex:2;
                align-items: center;
                align-content:center;
                list-style-type: none;
                margin: 0;
                padding: 0;
                column-gap: 15px;
                row-gap:10px;
                justify-content: flex-end;
                flex-wrap:wrap;
            }
        }
    }
    .logo{
        display:flex;
        align-items: center;
    }
    
}
