* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  --large-layout-width:80%;
  --small-layout-width:60%;
  --topbar-height:70px;
  --dark-blue:#1F2937;
  --off-white:#F9FAF8;
  --light-grey:#bfc3c8;
  --medium-grey:#6b757f;
  --bright-blue:#3882F6;
  --grey-blue:#c7d5ed;
  --section-vertical-padding:100px;
  --typography-v-padding:15px;
  font-family: "Roboto", sans-serif;
  color: var(--dark-blue);
}

/* Header Styles */
.header-layout {
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--off-white);
  height: var(--topbar-height);
}
.header-layout .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: var(--large-layout-width);
  gap: 10px;
}
.header-layout .header .menu-open {
  display: flex;
  align-items: center;
  margin-top: -3px;
}
.header-layout .header .large-menu {
  display: none;
}

.logo-layout {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  height: var(--topbar-height);
  pointer-events: none;
}
.logo-layout .logo-container {
  width: var(--large-layout-width);
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-layout .logo-container .logo-element {
  background-color: var(--dark-blue);
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  align-items: center;
  font-size: 22px;
  padding: 0 50px 0 0;
}

#menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: -100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--dark-blue);
}
#menu:target {
  top: 0px;
}
#menu .small-menu-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: var(--large-layout-width);
  gap: 1px;
}
#menu .small-menu-layout .menu-close {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: var(--topbar-height);
  background-color: var(--dark-blue);
}
#menu .small-menu-layout ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#menu .small-menu-layout ul li {
  display: inline-block;
  background-color: var(--dark-blue);
  padding: 6px 0;
}
#menu .small-menu-layout ul li a {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 14px;
}

@media (min-width: 768px) {
  .header-layout .header {
    flex-direction: row;
    gap: 50px;
  }
  .header-layout .header .menu-open {
    display: none;
  }
  .header-layout .header .large-menu {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  #menu:target {
    position: absolute;
    left: -100%;
  }
}/*# sourceMappingURL=style.css.map */