*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width:100%;
    --large-container-width:80%;
    --small-container-width:60%;
    --dark-blue:#1F2937;
    --off-white:#F9FAF8;
    --light-grey:#bfc3c8;
    --medium-grey:#6b757f;
    --bright-blue:#3882F6;
    --grey-blue:#c7d5ed;
    --section-vertical-padding:100px; 
    --typography-v-padding:15px;
    font-family: 'Roboto', sans-serif;
    color:var(--dark-blue);
}

/* Header Styles */

.header-container{
    display:flex;
    justify-content:center;
    background-color: var(--dark-blue);
    color:var(--off-white);
    padding:var(--typography-v-padding) 0;
}
.header{
    display:flex;
    flex-direction:column;
    width:var(--large-container-width);
    gap: 10px;
}
.menu-header-container{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.menu{
    position:absolute;
    width:100%;
    left:-100%;
    top:0px;
    gap:var(--typography-v-padding);
    background:black;
    
    .menu .logo{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
}

.menu-open{
    display:flex;
    align-items:center;
    margin-top: -3px;
}
.menu-close{
    display:flex;
    align-items:center;
    width: max-content;
    height: 28px;
}
#menu:target{
    left:0px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    gap: 5px;
    width:var(--large-container-width);
}
.menu ul li{
    display:inline-block;
}
.menu ul li a{
    text-decoration:none;
    color:var(--light-grey);
    font-size:14px;
}
/*
@media (min-width:768px) {
    .header{
        flex-direction:row;
        justify-content:space-between;
        gap: 50px;
    }
    .logo{
        display:flex;
        align-items: center;
    }
    .menu{
        display:flex;
        flex-direction: column;
        flex:2;
        align-items: center;
        position:relative;
        left:0;
    }
    .menu ul{
        flex-direction:row;
        gap: 15px;
        justify-content: flex-end;
        flex-wrap:wrap;
    }
    .menu ul li a{
        font-size:18px;
    }
}
*/